.contacts-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 8px;
    align-items: center;
}

.contacts-list-item p {
    font-size: 14px;
    margin: 0;
    color: #484848;
    flex: 1;
}

.contacts-list-item .buttons-container {
    display: flex;
    gap: 4px;
}

.contacts-list-item .buttons-container button {
    padding: 0;
}

.contacts-list-item .form {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.contacts-list-item .form input,
.contacts-list-item .form select {
    font-size: 12px;
    color: #484848;
}